.sidebar {
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #e4dccf; /* สีพื้นหลังใหม่ */
    /* padding: 20px; */
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    color: #ffffff; /* สีข้อความขาว */
    display: flex;
    flex-direction: column;
  }
  
  .logo img {
    width: 80%; /* กำหนดขนาดรูปภาพเป็น 80% ของพื้นที่ที่มี */
    margin: 0 auto; /* กึ่งกลางรูปภาพ */
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .menu-items {
    list-style-type: none;
    padding: 0;
    flex: 1; /* ทำให้เมนูขยายเพื่อดันปุ่ม Logout ไปด้านล่าง */
    display: flex;
    flex-direction: column;
    background-color: #576f73;
  }
  
  .menu-items li {
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #ffffff; /* สีข้อความของปุ่มใหม่ */
    /* padding: 20px; */
    /* margin: auto; */
    text-align: center;
  }
  
  .menu-items li:hover {
    background-color: #7d9d9c; /* สีเมื่อเม้าส์ชี้ */
  }
  
  .logout {
    margin-top: auto; /* ดันปุ่ม Logout ไปด้านล่าง */
  }
  